.Bio{
        text-align: center;
        font-family: Arial;
}

.Bio-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    align-items: center;
    justify-self: center;
    margin: 150px;
}

.Card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}